#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/header/header.jpg);
    background-repeat: no-repeat;
    height: 58vw;
}
.gradiente{
    background-color: linear-gradient(0,0,0,0.3);
}
.content p{
    color: white;
    text-align: center;
    padding-top: 50vh;
    font-size: 1.5vw;
}
.content h1{
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}